@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

main {
    display: flex;
    align-items: center;
}

.work-titles {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    justify-items: center;
    justify-content: space-between;
    color: #f2e0df;

}
.illus-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
}

.medium {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    margin: 6px 24px;
    border-radius: 8px;
    text-decoration: none;
    color:#bdcdcf;
    position: relative;
}

.medium::before {
    background-color: #8dcdcf;
    content: '';
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    position: absolute; 
    transition: 0.4s ease;   
}
.medium:hover::before {
    width: 100%;
}

.chosed-medium {
    font-weight: 500;
    color: #f2e0df;
}

.some-info{
    color: #f2e0df;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    row-gap: 84px;
    padding: 24px 0px 0 0px;  
}
.title{
    width: fit-content;
    height: min(51px, fit-content);
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.2px;
    text-decoration: none;    
}
.explain{
    width: 80%;
}
img{
    display: block;
    width: 100%;
    margin-bottom: 1em;

}

.describe-img {
    position: relative;
  width: 30%;
  background: linear-gradient(to right, rgba(0, 51, 50, 0) 7.000000000000001%,#034134 100%);
  border-radius: 4px;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}
.work-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.illus {
    border-radius: 4px;
}
.works-illustration{
    display: block;
    align-content: stretch;
    columns: 3 300px;
    column-gap: 1em;
}

.works-animation {
    width: 100%;
    display: flex;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    gap: 24px;
    padding-bottom: 5em;
    position: relative;
}
.left-video{
    display: flex;
    flex-direction: row-reverse;
}
.right-video{
    display: flex;
    flex-direction: row;
}
.video-down{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.video-descript{
    width: 100%;
}
.video-info-left {
    width: 100%;
    max-width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    align-content: stretch;
    justify-content: end;
    gap: 64px;
    color: #bdcdcf;
    padding-bottom: 1rem;
}

.video-info-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    align-items: start;
    align-content: stretch;
    justify-content: end;
    gap: 64px;
    color: #bdcdcf;
    padding-bottom: 1rem;
}
.works-animation-columns{
    display: block;
    align-content: stretch;
    columns: 3 200px;
    column-gap: 1em;
}

.video-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 36px;
    width: 100%;
    padding: 0 63px 0 0;
    justify-content: space-between;
    color: #f2e0df;
}
.video-title-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 36px;
    width: 100%;
    padding: 0 0 0 63px;
    justify-content: space-between;
    color: #f2e0df;
}
.tr {
    height: 0.1rem;
    width: 0.1rem;
    background-color: #8dcdcf;
    border-radius: 50%;
}
video {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}
.big-vid {
    width: 70%;
}

@media screen and (max-width:860px) {
    .work-titles:has(a) {
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
        position: relative;
    }
    .work-titles:has(a)::before{
        content: '';
        width: 0.5rem;
        height: 0.1rem;
        border-radius: 1rem;
        background: #8dcdcf;
        opacity: 50%;
        position: absolute;
        bottom: -0.5rem;
        margin: 0 100%;
    }
    .work-titles:has(a)::after{
        content: '';
        width: 1.5rem;
        height: 0.1rem;
        border-radius: 1rem;
        background:#8dcdcf;
        opacity: 50%;
    }
    .video-title {
        font-size: 24px;
        display: flex;
        flex-direction: row;
        transform: scale(0.75);
        gap: 3px;
    }
    .video-title-left {
        font-size: 24px;
        display: flex;
        flex-direction: row;
        transform: scale(0.75) ;
    }
    .title{
        font-size: 28px;
    }
    .video-info-left{
        gap: 1rem;
        align-content: space-between;
    }
    .video-info-right{
        gap: 1rem;
        align-content: space-between;
    }
}

@media screen and (max-width:640px) {
    .video-title {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        transform: scale(0.75);
        gap: 3px;
    }
    .video-title-left {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        transform: scale(0.75) ;
    }
    .title{
        font-size: 28px;
    }
    .video-info-left{
        gap: 1rem;
        align-content: space-between;
    }
    .video-info-right{
        gap: 1rem;
        align-content: space-between;
    }
    .tr {
    display: none;
}
}
